[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"


[dev-packages]
pytest = "*"
responses = "*"
mock ="*"
pytest-cov = '*'
black = '==19.10b0'